.searchform {
    background-color: #7ED5EA;
    color: white;
    padding: 1rem;
    padding-bottom: 2rem;
    margin: 1rem;
    border: 2px solid white;
  }

  .searchform label {
    text-align: left;
  }

  .searchform h1 {
    text-align: left;
  }

  .searchBtn {
    float: right;
    margin: .25rem;
  }