.searchform {
  background-color: #7ED5EA;
  color: white;
  padding: 1rem;
  padding-bottom: 2rem;
  margin: 1rem;
  border: 2px solid white;
  width: 98%;
}

.searchresults {
  margin-bottom: 10rem;
}